// Color Scheme

$steelblue: steelblue;
$border-gray: gray;
$newsletter-gray: #dcdcdc;
$coral: coral;
$white: white;

// Font Family

$monospace: monospace;

// Font Weight
$bold: bold;

//Font Sizes
$large: 2rem;
$medium: 1rem;
$small: .7rem;