.tags-item{
    border-top:solid 2px $border-gray;
    border-bottom:solid 2px $border-gray;
    padding: 0;
    margin: 0;
    
    li{
    padding:1%;
    background-color: $steelblue;
    color:$white;
    list-style: none;
    }
}
.tags-list {
    display: grid;
   
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 1% 1%; 
}
